/* Don't change the existing CSS. */

html{
  border: 10px;

}
.box {
  background-color: purple;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box{
  background-color: blue;
}


.inner-box{
  background-color: red;
}
.white-text {
  color: white;
}
